body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

a {
  color: #00B7FF;
}

h1{
  color: #FFF;
}

.btn-secondary {
  background-color: #FFF;
  color: lightskyblue;  
}